@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --nav-color: #202020;
    --text-color: #fff;
    --search-color: #323232;
    --text-sidebar-color: #909090;
    --sidebar-color: #212121;
    --content-color: #a2a2a2;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body {
    font-family: 'Roboto', sans-serif;
}
.navbar {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-color);
    color: var(--text-color);
    border-bottom: 1px solid var(--search-color);
    z-index: 2;
}
overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    animation: overlay .2s linear;
}
@keyframes overlay {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.mic__modal {
    width: 600px;
    height: 400px;
    position: fixed;
    top: 70px;
    left: 50%;
    color: var(--content-color);
    z-index: 4;
    transform: translateX(-50%);
    padding: 40px;
    background-color: var(--search-color);
    border-radius: 5px;
    display: none;
    animation: fadeInDown .2s linear;
} 
@keyframes fadeInDown {
    0% {
        opacity: 0; 
        scale: 0;
    }
    100% {
        opacity: 1; 
        scale: 1;
    }
} 

.mic__modal h3 {
    font-size: 30px;
    margin-bottom: 10px;
}
.mic__modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color .2s linear;
    padding-left: 3px;
    padding-top: 3px;
}

.mic__modal .close:hover {
    background-color: var(--hover-color);
}
.mic__modal .voice {
    font-size: 60px;
    margin-top: 150px;
    margin-left: 225px;
    background-color: var(--hover-color);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}
.open__mic--modal {
    display: block;
}
.leftbar {
    margin-left: 10px;
}
.leftbar label {
    cursor: pointer;
}
.leftbar img {
    width: 30px;
}
.sidebar {
    position: fixed;
    left: 0;
    top: 60px;
    bottom: 0; 
    background-color: var(--sidebar-color);
}
.sidebar__list {
    list-style: none;  
}
.sidebar__link {
    display: flex;
    flex-direction: column; 
    padding: 10px 0;
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
} 
.sidebar__item {
    display: block;
    font-size: 10px;
    padding: 0 5px;
}
.sidebar__item--item {
    margin: 0 auto;
}
.sidebar__item--text {
    text-align: center; 
    color: var(--text-sidebar-color);
}
.sidebar__item:hover {
    background-color: var(--search-color);
}
.sidebar__link {
    color: var(--text-sidebar-color);
}
.sidebar__link div {
    padding: 0 5px;
}
.center {
    display: flex;
    justify-content: space-between;
}
.input__group {
    position: relative;
}
.input__group input {
    width: 560px;
    padding: 8px; 
    background-color: transparent;
    border: 2px solid var(--search-color); 
    color: var(--text-color);
    font-weight: 500;
}
.input__group input:focus {
    outline: 1px solid rgb(2, 141, 255);
} 
.center span {
    padding-top: 5px; 
    cursor: pointer; 
} 
.center__icon {
    height: 100%;
    position: absolute; 
    right: -66px;   
    height: 36px;
    width: 65px;
    text-align: center; 
}
.center .mic {
    position: relative;
    left: 65px;
}
.search {
    background-color: var(--search-color);
    border-radius: 2px;
}
.rightbar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tool__group {
    list-style: none;   
    margin-right: 10px;
}
.tool__item {
    display: inline-block;  
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-top: 8px;
    padding-left: 8px;
    position: relative; 
}
.open__tool--modal .tool__modal {
    display: block;
}
.tool__modal {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: var(--nav-color); 
    z-index: 2;
    display: none;
}
.tool__appsmodal {
    width: 220px;
}
.tool__notificationmodal {
    width: 480px;
    height: 440px;
}
.tool__notificationmodal--header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid var(--search-color);
    font-size: 15px;
} 
.tool__notificationmodal--list {
    list-style: none; 
    height: 400px;
    overflow-y: scroll;
}  
.tool__notificationmodal--link {
    padding: 10px 10px;
    display: flex; 
    transition: background-color .2s linear;
}
.tool__notificationmodal--link:hover {
    background-color: var(--search-color);
}
.tool__notificationmodal--avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}
.tool__notificationmodal--view {
    display: flex;
}
.tool__notificationmodal--text {
    font-size: 14px;
    font-weight: 400;
    flex: 1;
    padding-right: 20px;
}
.tool__notificationmodal--preview {
    width: 90px;
    height: 60px;
    object-fit: cover;
    border-radius: 2px;
}
.tool__notificationmodal--timestamp {
    font-size: 12px;
    color: var(--content-color);
}
.tool__modal--list {
    list-style-type: none;
    border-bottom: 1px solid var(--search-color);
    padding: 8px 4px;
} 
.tool__modal--link {
    display: flex; 
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
}
.tool__modal--link:hover {
    background-color: var(--search-color);
}
.tool__modal--image {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.tool__modal--text {
    text-align: left; 
    color: var(--text-color);
}
.tool__item:hover {
    background-color: var(--search-color);
}
.tool__link {
    color: var(--text-color);
    margin-right: 20px;  
}  
.navbar__account--avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer; 
    position: relative;
} 
.navbar__accountmodal {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 300px; 
    background-color: var(--nav-color); 
    display: none;
} 
.open__accountmodal--modal {
    display: block;
}

.navbar__accountmodal--list { 
    list-style: none;
    border-bottom: 1px solid var(--search-color);
}
.account-text {
    display: flex;
    flex-direction: row;
}
/* .navbar__accountmodal--item {
    
} */
.account {
    padding: 40px;
}
.navbar__accountmodal--link {
    padding: 10px 10px;
    color: var(--text-color);
    text-decoration: none; 
    display: flex; 
    align-items: center;
}
.navbar__accountmodal--link:hover {
    background-color: var(--search-color);
}
.navbar__accountmodal--icon {
    font-size: 22px;
    color: var(--content-color);
    width: 40px;
}
.navbar__accountmodal--text {
    align-items: center;
}
.navbar__accountmodal--image {
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.navbar__accountmodal--text {
    flex: 1;
}
.content {
    background-color: var(--nav-color);
    margin-left: 76px;
    margin-top: 60px;  
    padding: 20px;
}
.card__list {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-column-gap: 10px;
}
.card__item {
    margin-right: 10px; 
    max-width: 350px;
    cursor: pointer;
    margin-bottom: 20px;
}
.card__item--header {
    position: relative;
}
.card__item--timestamp {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 13px;
    color: var(--text-color);
}
.card__item--thumnail {
    width: 100%;
    height: 200px;
}
.card__item--thumnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 1px solid var(--search-color);
    position: relative;
}
.card__toolbox--list  {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--text-color);
    list-style: none;
    display: none;
}
.card__item--thumnail img:hover ~ .card__toolbox--list {
    display: block;
}
.card__body {
    display: flex;
    font-weight: 500;
    color: var(--content-color);
    margin-top: 5px;
} 
.card__title {
    color: var(--text-color);
}
.card_user--name {
    margin-top: 5px;
}
.card__user--avatar {
    width: 40px;
    height: 40px; 
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}
.card__body--group {
    display: flex;
    flex-direction: column;
} 
.card__footer {
    display: flex;  
}
.card__footer--view {
    margin-right: 15px;
}
.card__footer--view:first-child {
    position: relative;
}
.card__footer--view::after {
    content: " ●";
    font-size: 8px;
    position: absolute;
    top: 5px;
    margin-left: 5px;
}